.first{
    background-color: #D4BEE4;
    height:730px;
}

.first {
    background-image: url('../../assets/bg.jpg'); /* Path to your image */
    background-size: cover;            /* Cover the entire section */
    background-position: center;       /* Center the image */
    background-repeat: no-repeat;      /* Prevent the image from repeating */
    width: 100%;    
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.5);                    /* Full width */
  }